<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Admin Page </title>
    <style>
        .card {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 20%;
          border-radius: 15px;
          background-color:#fbff00;
        }
        
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        img {
          border-radius: 5px 5px 0 0;
        }
        
        .container {
          padding: 2px 16px;
        }
        </style>
</head>
<body>
  
    

    <div style="color:rgb(0, 0, 0); background-color:#fbff00; height: 60px;width: 1900px;text-align: center;"> 

        <img src="../static/images/leaf-logo-300x300.png" alt=logo height="42" width="42"/>

        <span style="text-align:center ; font-size:50px"> Admin Page </span>

    </div>

    <h2 align="center"> Verdict from the admin </h2>
{% for datum in data %}
    <div class="card">
        <img src="../static/{{datum[0]}}" alt="Avatar" style="width:100%">
        <div class="container">
          
            Name of the disease : <input type="text" class="kala" id={{datum[1]}}>
            <br>
            <button class="verdictbutton" style="background-color:black; color:rgb(236, 236, 236);border-radius:14px;font-size: 16px;
            margin: 4px 2px;">Submit!</button>
          </form>
        </div>
      </div>
{%endfor%}
      
<footer>
  <div class="logout" style="text-align: right;">
   
      <button name="forwardBtn"  style="background-color: #fbff00; 
      border: solid;
      color: rgb(0, 0, 0);
      border-radius: 12px;
      text-decoration: none;
      font-family:sans-serif;
      font-size: 26px;
      margin: 4px 2px;
      cursor: pointer">Log Out</button>
  </form>
  </div>
</footer>
<script>
  $(document).ready(function(){
    $(".verdictbutton").click(function(){
      
      
      
      
    var x=document.getElementsByClassName("kala")[0].id
      alert(x)
       var inputVal = document.getElementById(x).value;
       alert(inputVal)
         window.location.replace('/completeverdict/'+x+'/'+inputVal)

      
        
      
    });
    $(".logout").click(function(){
      window.location.replace('/logout')

    });
    

  });
  </script>

    

   

</body>
</html>