<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cure</title>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 10%;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;

          }
          
          li a {
            display: block;
            color: #000;
            padding: 8px 16px;
            text-decoration: none;
            font-size:18px;
          }
          
          li a.active {
            background-color: #0d0e03;
            color: white;
          }
          
          li a:hover:not(.active) {
            background-color: #555;
            color: white;
          }

    </style>

</head>
<body>


    <div style="color:rgb(0, 0, 0); background-color:#fbff00; height: 60px;width: 1450px;text-align: center;"> 
        <img src="../static/images/leaf-logo-300x300.png" alt=logo height="42" width="42"/>
        <span style="text-align:center ; font-size:50px"> Cure </span>
 
    </div>

    <ul>
        <li><a class=href="home">Home</a></li>
        <li><a href="farmerdashboard">Dashboard</a></li>
        <li><a href="logout">Log Out</a></li>
      </ul>
 


<div style="text-align:center ; margin-left: 190px;margin-right: 100px;">

    <h3>Using resistant varieties</h3>

    As there are up to 11 different known strains of the pathogen, resistant varieties need to be resistant against all prevalent strains in an area. Sweet pepper varieties with resistance against all or multiple strains are available. A few of them are F1 of Autry, Green Flash, Labelle, Ninja, Outsider, Playmaker, Prowler, Raven, Samurai, SB3255 PB and Tracer. Additionally, Green Machine, Antebellum with X10R and 4288a with bs5+bs6 genes (intermediate resistance) can be used. A full list can be found at: http://vegetablemdonline.ppath.cornell.edu/Tables/TableList.htm
    The most effective management strategy is the use of pathogen-free certified seeds and disease-free transplants to prevent introduction of the pathogen into greenhouses and field production areas. It is prudent to grow own transplants under sanitary conditions to avo id importing bacterial leaf spot on seedlings purchased from off-farm sources. Inspect plants very carefully and reject infected transplants, including your own. Buy seeds from a reputable company or treat your own seeds by following either of the methods described below.

<h3>Seed treatments</h3>

    Washing seeds for 40 minutes in diluted Clorox (two parts Clorox plus eight parts water) is effective in reducing the bacterial population on a seed’s surface. However, bacteria inside the seeds are little affected by this treatment.
    Seed treatment with hot water, soaking seeds for 30 minutes in water pre-heated to 125 F/51 C, is effective in reducing bacterial populations on the surface and inside the seeds. However, seed germination may be affected by heat treatment if not done accurately, while the risk is relatively low with bleach treatment.

<h3>Foliage treatment</h3>

    Control of bacterial spot on greenhouse transplants is an essential step for preventing the spread of the leaf spot bacteria in the field. Transplants should be inspected regularly to identify symptomatic seedlings. Transplants with symptoms may be removed and destroyed or treated with streptomycin, if detected at the very early stage of disease development. It should be noted that strains of leaf spot bacteria resistant to streptomycin may arise with multiple applications of streptomycin.
    Copper sprays can be used to control bacterial leaf spot, but they are not as effective when used alone on a continuous basis. Thus, combining these sprays with a plant resistance inducer, such as Regalia or Actigard, can provide good protection from the disease. Labeled rates of fixed copper is combined with different rates of Actigard, depending on the growth stage of plants. Higher rates (1 ounce per 100 gallons) of Actigard is used early in the season at transplant, 1/2 ounce is used two weeks later and 1/3 ounce is recommended for subsequent sprays as needed. Two other products, Penncozeb and Quintec were also found effective in some studies. However, organic growers should use copper and Regalia combination instead of copper and Actigard. Apply on a seven- to 10-day schedule; use the shorter interval when rain, high humidity and warm temperatures occur and the longer in case of dry weather.
    Beneficial microorganisms containing products, such as Serenade and Sonata, can reduce pepper leaf spot if used proactively. However, once the disease has spread to more than 5% of plants, these products can’t suppress the disease.
    Infested crop debris and infected weeds are additional sources of the pathogen and must be managed in an effective BLS control program. It is important to control nightshade, horsenettle, jimsonweed and all other solanaceous weeds from current and future pepper fields. Breakdown of crop residue can be hastened by disking or plowing field immediately after the final harvest.
    Crop rotation should be used to avoid pathogen carryover on volunteers and crop residue. Avoid fields that have been planted with peppers or tomatoes, especially if they had bacterial spot. In the field, use at least a three-year rotation because the pathogen can survive in infested crop debris until it completely decomposes. Do not rotate pepper with tomato, eggplant or potato, and do not grow these crops together.
    In the greenhouse, discard trays adjacent to outbreak location to minimize disease spread. Always start with new or disinfected greenhouse supplies and materials when planting peppers. Trays, benches, tools and greenhouse structures should be washed and sanitized between seedling crops.
    Good cultural practices include avoiding all conditions that enable the pathogen to spread and multiply rapidly. Bacteria spread with splashing water. Therefore, overhead irrigation method should be replaced with drip irrigation and the field should not be accessed when plants are wet.

<h3>Integrated management</h3>

    The best management of pepper bacterial leaf spot can be achieved through an integrated strategy because it’s been found that a single measure, such as seed treatment, did not adequately control bacterial spot (Stall et al., 2009). This integrated strategy includes all the methods mentioned above, in addition to scouting the field to time treatments, removing infected plants to reduce the spread of bacteria and timing mechanical and labor operations to occur at times when the risk of spreading leaf spot bacteria is low.


</div>
</body>
</html>