<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotting </title>
</head>
<body>
    
    <div style="color:rgb(118, 238, 198); background-color:black; height: 60px;width: 1450px;text-align: center;"> 
        <span style="text-align:center ; font-size:50px"> Result DashBoard </span>
    </div>

    <h3 id="result" align="center" style="margin-top :30px">
        The name of the disease is : <span style="color:red"> {{result}} </span>

    </h3>

    <div style="margin-top: 40px; margin-left: 90px;margin-right: 50px;">
        <h4> The output of the softmax layer is shown in the following graph</h4>

        <img src={{img_url}} alt="Chart" height="450px" width="990px">
    </div>

</body>
</html>