<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plotting </title>
</head>
<body>
    
    <div style="color:rgb(0, 0, 0); background-color:#fbff00; height: 60px;width: 1450px;text-align: center;"> 
        <img src="../static/images/leaf-logo-300x300.png" alt=logo height="42" width="42"/>
        <span style="text-align:center ; font-size:50px"> Result DashBoard </span>

    </div>

    <h3 id="result" align="center" style="margin-top :30px">
        The detected disease is : <span style="color:red"> {{result}} </span>



    </h3>

    <div style="margin-top: 40px; margin-left: 90px;margin-right: 50px;">
        <h4> The following chart shows the probability considered by the AI while making the decision: </h4>

        <img src={{img_url}} alt="Chart" height="450px" width="990px">
    </div>
    
        <div class="proceed" style="text-align: center;">
            <form action="/proceedhome" method="post">
              <button name="forwardBtn" type="submit" style="background-color: #fbff00; 
              border: solid;
              color: rgb(0, 0, 0);
              border-radius: 12px;
              text-decoration: none;
              font-family:sans-serif;
              font-size: 26px;
              margin: 4px 2px;
              cursor: pointer">I am not satisfied with this diagnosis</button>
          </form>
          </div>

          <div class="logout" style="text-align: right;">
            <form action="/logout" method="post">
              <button name="forwardBtn" type="submit" style="background-color: #fbff00; 
              border: solid;
              color: rgb(0, 0, 0);
              border-radius: 12px;
              text-decoration: none;
              font-family:sans-serif;
              font-size: 26px;
              margin: 4px 2px;
              cursor: pointer">Log Out</button>
          </form>
          </div>
   

</body>
</html>